# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Virtual environments
pcbml/
venv/
.env/


# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Large data and models

PCBData
*.h5
*.hdf5
*.ckpt
*.pth
*.pt

# Logs and outputs
#outputs/
logs/
*.log

# Streamlit cache
.streamlit/

# Misc
*.zip
*.tar
*.tar.gz

