numpy
opencv-python
opencv-contrib-python
scikit-image
Pillow
pandas
PyYAML
matplotlib
seaborn
tqdm
colorlog
scikit-learn
torch
torchvision
timm
tensorboard
albumentations
streamlit
plotly
